<footer
    class="flex justify-between w-full text-text-tertiary dark:text-text-dark-tertiary items-center gap-x-4"
>
    <div class="text-xs font-mono font-semibold">
        {{ getVersion }} @ {{ getDbType }}
    </div>
    <div class="font-semibold text-sm text-center">
        Made with &nbsp;
        <span class="iconify inline" data-icon="bi:heart-fill"></span>&nbsp; by
        <a
            href="https://github.com/kcoderhtml"
            class="font-semibold text-text-secondary dark:text-text-dark-secondary hover:text-accent-secondary hover:dark:hover:text-accent-primary"
            >Kieran Klukas</a
        >
        as
        <a
            href="https://github.com/kcoderhtml/hackatime"
            class="font-semibold text-text-secondary dark:text-text-dark-secondary hover:text-accent-secondary hover:dark:hover:text-accent-primary"
            >open-source</a
        >
        software.
        <br />
        Built off of the amazing work of
        <a
            href="https://github.com/muety/"
            class="font-semibold text-text-secondary dark:text-text-dark-secondary hover:text-accent-secondary hover:dark:hover:text-accent-primary"
            >@muety</a
        >
        in
        <a
            href="https://github.com/muety/wakapi"
            class="font-semibold text-text-secondary dark:text-text-dark-secondary hover:text-accent-secondary hover:dark:hover:text-accent-primary"
            >Wakapi</a
        >
    </div>
    <div class="text-sm">
        <a
            href="imprint"
            class="font-semibold text-text-secondary dark:text-text-dark-secondary hover:text-accent-secondary hover:dark:hover:text-accent-primary"
            >Imprint, Cookies & Data Privacy</a
        >
    </div>
</footer>
